* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 18px;
  font-family: "Outfit", sans-serif;
  font-weight: 300 400 600;
}

p {
  color: var(--primary_blue500);
}

:root {
  --primary_blue500: hsl(215, 51%, 70%);
  --primary_cyan500: hsl(178, 100%, 50%);
  --neutral_blue950: hsl(217, 54%, 11%);
  --neutral_blue900: hsl(216, 50%, 16%);
  --neutral_blue800: hsl(215, 32%, 27%);
  --white: hsl(0, 0%, 100%);
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: var(--neutral_blue950);
}

.card {
  max-width: 375px;
  border-radius: 15px;
  padding: 24px;
  background-color: var(--neutral_blue900);
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.5), 0 10px 20px rgba(0, 0, 0, 0.3);
}

img {
  width: 100%;
  height: auto;
  object-fit: contain;
  display: block;
  border-radius: 12px;
}

.title {
  padding-top: 24px;
  color: var(--white);
}

.info {
  display: flex;
  justify-content: space-between;
}

.subinfo {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.subinfo-paragraph {
  color: var(--primary_cyan500);
  font-weight: bold;
}

hr {
  height: 1px;
  background-color: var(--neutral_blue800);
  border: none;
  margin: 0;
}

.svg {
  width: 16px;
  height: 16px;
  margin-right: 8px;
}

.author {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.avatar {
  width: 32px;
  height: 32px;
  margin-right: 12px;
  border: 1px solid white;
  border-radius: 50%;
}

.title,
.subtitle,
.info {
  padding-bottom: 12px;
}

.subtitle {
  padding-bottom: 24px;
  line-height: 1.5;
}

.author {
  padding-top: 12px;
}

.author p span {
  color: white;
}

.title:hover,
.author p span:hover {
  color: var(--primary_cyan500);
  cursor: pointer;
}

/* .card img:hover {
  background-color: var(--primary_cyan500);
} */
